body {
    background-color: rgb(1, 1, 86);
}

.container {
    color: white;
    background-color: black;
    font: bold;
    outline: 5px solid orange;
    
}

.card-body {
    background-color: black;
    outline: 5px solid orange;
    color: white;
}

.modal-content {
    background-color: black;
    outline: 5px solid orange;
}

.btn {
    background-color: rgb(0, 45, 10);
    outline: 3px solid rgb(1, 1, 86);
}